@import "abstract"
html
  height: 100%
body
  font-family: 'Barlow', sans-serif
  margin: 0
  padding: 0


header
  background-image: url("../images/desktop/image-header.jpg")
  grid-area: header
  background-size: cover
  background-repeat: no-repeat
  background-position: center bottom
  font-family: 'Barlow', sans-serif
  @media screen and (min-width: $mobile)
    nav
      display: flex
      color: $white
      justify-content: flex-end
      img
        margin-top: 25px
        margin-left: 1%
        margin-right: 1%
        height: 20px
      p
        margin-left: 1%
        margin-right: 1%
        padding-left: 26px
        padding-right: 26px
        padding-top: 13px
        padding-bottom: 13px
      .contact
        background-color: $white
        color: $very_dark_grayish_blue
        border-radius: 25px
        &:hover
          opacity: 0.6
      .space
        margin-right: auto
        margin-left: auto
      input, label, ul
          display: none
  .creative
    display: flex
    text-align: center
    justify-content: center
    flex-wrap: wrap
    flex-direction: column
    p
      font-family: 'Fraunces',serif
      margin: 30px
      font-size: 30px
      color: white
    img
      width: 40px
      margin-top: 40px
      margin-right: auto
      margin-left: auto
      margin-bottom: 100px

.main-grid
  display: grid
  grid-template-columns: repeat(4, 25%)
  grid-template-rows: repeat(7, auto)
  grid-template-areas: "header header header header" "el1 el1 el2 el2" "el3 el3 el4 el4" "el5 el5 el6 el6" "test test test test" "el7 el8 el9 el10" "footer footer footer footer"
  .grid-text
    background-color: $white
    display: flex
    //font-size: 80%
    justify-content: center
    flex-direction: column
    //margin-left: 15%
    //margin-right: 10%
    //margin-bottom: 10%
    padding-left: 15%
    padding-right: 10%
    padding-bottom: 10%
    @media screen and (max-width: $mobile)
      text-align: center
    h1
      font-family: "Fraunces", serif
      color: $very_dark_grayish_blue
    p
      color: $grayish_blue
    a
      margin-top: 30px
      //font-size: 80%
      font-family: "Fraunces", serif
      text-decoration: none
      color: $very_dark_desaturated_blue
      hr
        width: 75px
        border: none
        @media screen and (min-width: $mobile)
          margin-right: auto
          margin-left: 0
        padding: 6px
        border-radius: 12px
        margin-top: -7px
        background-color: yellow
        opacity: 0.4
        &:hover
          opacity: 0.7
  .grid-image-text
    text-align: center
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    h1
      margin-top: 12em
      font-family: "Fraunces", serif
      color: $very_dark_desaturated_blue
    p
      margin-left: 20%
      margin-right: 20%
      color: $dark_desaturated_cyan
  .grid-image
    //background-repeat: no-repeat
    //background-size: cover
    //background-position: center
    img
      width: 100%
      height: 100%
  .grid-item-1
    grid-area: el1
    @extend .grid-text
  .grid-item-2
    grid-area: el2
    //background-image: url("../images/desktop/image-transform.jpg")
    @extend .grid-image
  .grid-item-3
    grid-area: el3
    //background-image: url("../images/desktop/image-stand-out.jpg")
    @extend .grid-image
  .grid-item-4
    grid-area: el4
    @extend .grid-text
  .grid-item-5
    @extend .grid-image-text
    grid-area: el5
    background-image: url("../images/desktop/image-graphic-design.jpg")
    background-position: center
  .grid-item-6
    @extend .grid-image-text
    grid-area: el6
    background-image: url("../images/desktop/image-photography.jpg")
    @extend .grid-image
  .testimony
    grid-area: test
    text-align: center
  .bottom-grid-1
    grid-area: el7
    //background-image: url("../images/desktop/image-gallery-milkbottles.jpg")
    @extend .grid-image
  .bottom-grid-2
    grid-area: el8
    //background-image: url("../images/desktop/image-gallery-orange.jpg")
    @extend .grid-image
  .bottom-grid-3
    grid-area: el9
    //background-image: url("../images/desktop/image-gallery-cone.jpg")
    @extend .grid-image
  .bottom-grid-4
    grid-area: el10
    //background-image: url("../images/desktop/image-gallery-sugarcubes.jpg")
    @extend .grid-image
  footer
    grid-area: footer
    background-color: $dark_moderate_cyan
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    .logo
      width: 150px
      margin-left: auto
      margin-right: auto
      margin-top: 3em

    .logo-link
      display: flex
      justify-content: center
      flex-direction: row
      img
        margin: 15px
        &:hover
          filter: brightness(0) invert(1)
    .text-link
      display: flex
      justify-content: center
      flex-direction: row
      p
        margin: 30px
        &:hover
          color: white
    img
      width: 30px
  @media screen and (min-width: $mobile)
    .testimony
      display: flex
      justify-content: space-around
      flex-direction: column
      h2
        font-family: "Fraunces", serif
        color: $grayish_blue
        text-align: center
      .testimony-items
        display: flex
        flex-direction: row
        .testimony-item
          margin: 2%
          img
            width: 70px
            border-radius: 50%
            margin-top: 50px
            margin-bottom: 50px
          p
            color: $dark_grayish_blue
            font-weight: bold
          .name
            font-family: 'Fraunces', serif
            color: black
          .role
            margin: 20px
            color: $dark_grayish_blue
@media screen and (max-width: $mobile)
  .main-grid
    display: grid
    grid-template-columns: repeat(2, 1fr)
    //grid-template-rows: 600px 600px 600px 600px 600px 600px 600px 600px 350px 350px 600px 100px 100px
    grid-template-rows: repeat(13,auto)
    grid-template-areas: "header header" "el2 el2" "el1 el1" "el3 el3" "el4 el4" "el5 el5" "el6 el6" "test test" "test test" "el7 el8" "el9 el10" "footer footer" "footer footer"
  .testimony
    display: flex
    justify-content: space-around
    flex-direction: column
    h2
      font-family: "Fraunces", serif
      color: $grayish_blue
      text-align: center
    .testimony-items
      display: flex
      flex-direction: column
      .testimony-item
        margin: 0
        img
          width: 70px
          border-radius: 50%
          margin-top: 20px
          margin-bottom: 20px
        p
          color: $dark_grayish_blue
          font-weight: bold
          margin-left: 20px
          margin-right: 20px
        .name
          font-family: 'Fraunces', serif
          color: black
        .role
          margin: 20px
          color: $dark_grayish_blue
  nav
    display: flex
    color: $white
    justify-content: flex-end
    img
      margin-top: 20px
      margin-left: 1%
      margin-right: 1%
      height: 20px
    p
      display: none
    .space
      margin-right: auto
      margin-left: auto

    /*menu style*/
    .menu
      display: flex
      flex-direction: row
      list-style-type: none
      margin: 0
      padding: 0
    .menu-button-container
      display: none
      height: 100%
      width: 30px
      cursor: pointer
      flex-direction: column
      justify-content: center
      align-items: center
    #menu-toggle
      display: none
    .menu-button,
    .menu-button::before,
    .menu-button::after
      display: block
      background-color: #fff
      position: absolute
      height: 4px
      width: 30px
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1)
      border-radius: 2px
    .menu-button::before
      content: ''
      margin-top: -8px
    .menu-button::after
      content: ''
      margin-top: 8px
    #menu-toggle:checked + .menu-button-container .menu-button::before
      margin-top: 0px
      transform: rotate(405deg)
    #menu-toggle:checked + .menu-button-container .menu-button
      background: rgba(255, 255, 255, 0)
    #menu-toggle:checked + .menu-button-container .menu-button::after
      margin-top: 0px
      transform: rotate(-405deg)
    @media (max-width: $mobile)
      .menu-button-container
        display: flex
        margin-top: 15px
        margin-right: 15px
      .menu
        position: absolute
        top: 0
        margin-top: 50px
        left: 0
        flex-direction: column
        width: 100%
        justify-content: center
        align-items: center
        background-color: $white
        width: 90%
        margin-left: 5%
        margin-right: auto

      #menu-toggle ~ .menu li
        height: 0
        margin: 0
        padding: 0
        border: 0
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1)
        visibility: hidden
      #menu-toggle:checked ~ .menu li
        border: none
        border-radius: 30px
        width: 10em
        height: 2.5em
        margin: 0.5em
        padding-top: 13px
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1)
        visibility: visible


      .menu > li
        width: 50px
        display: flex
        justify-content: center
        margin-right: auto
        margin-left: auto
        padding: 0.5em 0
        width: 100%
        color: $dark_grayish_blue
        background-color: $white
        &:hover
          background-color: yellow


      .menu > li:not(:last-child)
        //border-bottom: 1px solid $white





/*@media screen and (max-width: 1440px)*/
