/*primary*/
/*neutral*/
html {
  height: 100%;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/desktop/image-header.jpg");
  grid-area: header;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Barlow", sans-serif;
}
@media screen and (min-width: 376px) {
  header nav {
    display: flex;
    color: white;
    justify-content: flex-end;
  }
  header nav img {
    margin-top: 9px;
    margin-left: 1%;
    margin-right: 1%;
    height: 20px;
  }
  header nav p {
    margin-left: 2%;
    margin-right: 2%;
  }
  header nav .space {
    margin-right: auto;
    margin-left: auto;
  }
  header nav input, header nav label, header nav ul {
    display: none;
  }
}
header .creative {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
header .creative p {
  font-family: "Fraunces", serif;
  margin: 30px;
  font-size: 30px;
  color: white;
}
header .creative img {
  width: 40px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header header header header" "el1 el1 el2 el2" "el3 el3 el4 el4" "el5 el5 el6 el6" "test test test test" "el7 el8 el9 el10" "footer footer footer footer";
}
.main-grid .grid-text, .main-grid .grid-item-4, .main-grid .grid-item-1 {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 10%;
  padding-bottom: 10%;
}
@media screen and (max-width: 376px) {
  .main-grid .grid-text, .main-grid .grid-item-4, .main-grid .grid-item-1 {
    text-align: center;
  }
}
.main-grid .grid-text h1, .main-grid .grid-item-4 h1, .main-grid .grid-item-1 h1 {
  font-family: "Fraunces", serif;
  color: #5a636c;
}
.main-grid .grid-text p, .main-grid .grid-item-4 p, .main-grid .grid-item-1 p {
  color: #a7abae;
}
.main-grid .grid-text a, .main-grid .grid-item-4 a, .main-grid .grid-item-1 a {
  margin-top: 30px;
  font-family: "Fraunces", serif;
  text-decoration: none;
  color: #23303e;
}
.main-grid .grid-text a hr, .main-grid .grid-item-4 a hr, .main-grid .grid-item-1 a hr {
  width: 65px;
  border: none;
  padding: 6px;
  border-radius: 12px;
  margin-top: -7px;
  background-color: yellow;
  opacity: 0.4;
}
@media screen and (min-width: 376px) {
  .main-grid .grid-text a hr, .main-grid .grid-item-4 a hr, .main-grid .grid-item-1 a hr {
    margin-right: auto;
    margin-left: 0;
  }
}
.main-grid .grid-image-text, .main-grid .grid-item-6, .main-grid .grid-item-5 {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-grid .grid-image-text h1, .main-grid .grid-item-6 h1, .main-grid .grid-item-5 h1 {
  margin-top: 12em;
  font-family: "Fraunces", serif;
  color: #23303e;
}
.main-grid .grid-image-text p, .main-grid .grid-item-6 p, .main-grid .grid-item-5 p {
  margin-left: 20%;
  margin-right: 20%;
  color: #25564b;
}
.main-grid .grid-image img, .main-grid .bottom-grid-4 img, .main-grid .bottom-grid-3 img, .main-grid .bottom-grid-2 img, .main-grid .bottom-grid-1 img, .main-grid .grid-item-6 img, .main-grid .grid-item-3 img, .main-grid .grid-item-2 img {
  width: 100%;
  height: 100%;
}
.main-grid .grid-item-1 {
  grid-area: el1;
}
.main-grid .grid-item-2 {
  grid-area: el2;
}
.main-grid .grid-item-3 {
  grid-area: el3;
}
.main-grid .grid-item-4 {
  grid-area: el4;
}
.main-grid .grid-item-5 {
  grid-area: el5;
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-position: center;
}
.main-grid .grid-item-6 {
  grid-area: el6;
  background-image: url("../images/desktop/image-photography.jpg");
}
.main-grid .testimony {
  grid-area: test;
  text-align: center;
}
.main-grid .bottom-grid-1 {
  grid-area: el7;
}
.main-grid .bottom-grid-2 {
  grid-area: el8;
}
.main-grid .bottom-grid-3 {
  grid-area: el9;
}
.main-grid .bottom-grid-4 {
  grid-area: el10;
}
.main-grid footer {
  grid-area: footer;
  background-color: #458c7e;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.main-grid footer .logo {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
.main-grid footer .logo-link {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.main-grid footer .logo-link img {
  margin: 15px;
}
.main-grid footer .text-link {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.main-grid footer .text-link p {
  margin: 30px;
}
.main-grid footer img {
  width: 30px;
}
@media screen and (min-width: 376px) {
  .main-grid .testimony {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .main-grid .testimony h2 {
    font-family: "Fraunces", serif;
    color: #a7abae;
    text-align: center;
  }
  .main-grid .testimony .testimony-items {
    display: flex;
    flex-direction: row;
  }
  .main-grid .testimony .testimony-items .testimony-item {
    margin: 2%;
  }
  .main-grid .testimony .testimony-items .testimony-item img {
    width: 70px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .main-grid .testimony .testimony-items .testimony-item p {
    color: #818498;
    font-weight: bold;
  }
  .main-grid .testimony .testimony-items .testimony-item .name {
    font-family: "Fraunces", serif;
    color: black;
  }
  .main-grid .testimony .testimony-items .testimony-item .role {
    margin: 20px;
    color: #818498;
  }
}

@media screen and (max-width: 375px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, auto);
    grid-template-areas: "header header" "el2 el2" "el1 el1" "el3 el3" "el4 el4" "el5 el5" "el6 el6" "test test" "test test" "el7 el8" "el9 el10" "footer footer" "footer footer";
  }

  .testimony {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .testimony h2 {
    font-family: "Fraunces", serif;
    color: #a7abae;
    text-align: center;
  }
  .testimony .testimony-items {
    display: flex;
    flex-direction: column;
  }
  .testimony .testimony-items .testimony-item {
    margin: 0;
  }
  .testimony .testimony-items .testimony-item img {
    width: 70px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .testimony .testimony-items .testimony-item p {
    color: #818498;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
  }
  .testimony .testimony-items .testimony-item .name {
    font-family: "Fraunces", serif;
    color: black;
  }
  .testimony .testimony-items .testimony-item .role {
    margin: 20px;
    color: #818498;
  }

  nav {
    display: flex;
    color: white;
    justify-content: flex-end;
    /*menu style*/
  }
  nav img {
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    height: 20px;
  }
  nav p {
    display: none;
  }
  nav .space {
    margin-right: auto;
    margin-left: auto;
  }
  nav .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav #menu-toggle {
    display: none;
  }
  nav .menu-button,
nav .menu-button::before,
nav .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  nav .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  nav .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  nav #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  nav #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  nav #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
}
/*@media screen and (max-width: 1440px)*/

/*# sourceMappingURL=style.css.map */
